$color-rojo-70: rgba(255, 0, 0, .7);
$color-rojo-80: rgba(255, 0, 0, .8);
$color-rojo-90: rgba(255, 0, 0, .9);
$color-rojo-100: rgba(255, 0, 0, 1);

$color-blanco: rgba(255, 255, 255, 1);

$color-azul-80: rgba(0, 0, 255, .8);
$color-azul-100: rgba(0, 0, 255, 1);

$color-negro: rgb(33, 33, 33);
$color-negro-50: rgba(0, 0, 0, .5);
$color-gris: #bbb;
